#root {
	--padding: 2rem;

	max-width: 1280px;
	margin: 0 auto;
	padding: var(--padding);
	text-align: center;
	height: calc(100dvh - var(--padding) * 2);
	max-height: 500px;
	width: 100%;
}

.task-board {
	display: flex;
	gap: 1rem;
	position: relative;
	width: 100%;
	height: 100%;
}

.task-list {
	border-radius: 8px;
	border: 2px solid;
	flex: 1;
	padding: 16px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

.task-list:first-child {
	border-style: dotted;
}

.task-list h3 {
	margin: 0 0 16px;
}

.task-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tasks-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.task {
	background: white;
	color: #000;
	padding: 12px;
	border-radius: 4px;
	border: 1px solid #ddd;
	cursor: grab;
	max-width: fit-content;
	width: auto;
}

.task-list:first-of-type .task {
	position: absolute;
}

.task:active {
	cursor: grabbing;
}
